#cognome {
    -fx-text-fill: #a6a6a6; /* Cambia il colore del testo */
}
#nome {
    -fx-text-fill: #a6a6a6; /* Cambia il colore del testo */
}
#num1 {
    -fx-text-fill: #a6a6a6; /* Cambia il colore del testo */
}
#num2 {
    -fx-text-fill: #a6a6a6; /* Cambia il colore del testo */
}
#num3 {
    -fx-text-fill: #a6a6a6; /* Cambia il colore del testo */
}
#email1 {
    -fx-text-fill: #a6a6a6; /* Cambia il colore del testo */
}
#email2 {
    -fx-text-fill: #a6a6a6; /* Cambia il colore del testo */
}
#email3 {
    -fx-text-fill: #a6a6a6; /* Cambia il colore del testo */
}